{% extends "::base.html.twig" %}

{% block title %}AppBundle:Forum:add{% endblock %}

{% block body %}
    <h3>create new forum</h3>
    <div class="row">
        <form action="" class="col s12" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="title" class="validate" name="title">
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="description" id="description" class="materialize-textarea"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn wawes-effect wawes-light" type="submit">Save <i class="material-icons right">send</i></button>

                </div>
            </div>
        </form>
    </div>
{% endblock %}
