{% extends "::base.html.twig" %}

{% block title %}AppBundle:Forum:add{% endblock %}

{% block body %}
    <h3>create new forum</h3>
    <div class="row">
        {{ form_start(form) }}
            {{ form_widget(form) }}
        <div class="row">
            <button class="btn wawes-effect wawes-light" type="submit" name="action">
                Save <i class="material-icons right">send</i>
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
