{% extends "::base.html.twig" %}

{% block title %}AppBundle:Forum:index{% endblock %}

{% block body %}
    <h1>Forum</h1>
    <form action="{{ path('addForum') }}" method="post">
        Ajouter un forum : <label>
            <input type="text" name="title"/>
        </label> <input type="submit" value="Ajouter" />
    </form>

    <h2>Listes des forums :</h2>
    <ul>

{% for id,forum in forums %}
        <li><a href="{{ path('showForum',{'id': id} ) }}">{{ forum.getTitle() }}</a></li>
{% endfor %}
    </ul>
{% endblock %}